.headerContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 0;
  color: var(--color-font);
}

h2 {
  margin: 0;
  color: var(--color-font);
  font-weight: normal;

}

.socialButtonContainer {
  width: 2.5em;
  height: 2.5em;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  -webkit-box-shadow: inset -7px -5px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset -7px -5px 5px 0px rgba(0,0,0,0.25);
box-shadow: inset -7px -5px 5px 0px rgba(0,0,0,0.25);
transition: background-color 0.5s ease;

}

.socialButtonContainer:hover {
  background-color: #aca6dd;
  transition: background-color 0.5s ease;
}

#header > .buttonContainer{ 
  display: none;
}

#header > .languageHeader{
  display: none !important;
}


@media (max-width: 1024px) {

#header > .buttonContainer{ 
  display: block;
}

#header > .languageHeader{
  display: flex !important;
}

}